header{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid blueviolet;

    & ul{
        display: flex;
        list-style: none;
        padding: 0 2rem;
        margin: 0.75rem 0;

        & a{
            display: flex;
            align-items: center;
            text-decoration: none;
            color: blueviolet;
            transition: 0.5s;

            &:hover{
                filter: brightness(1.5);
            }

            & p{
                font-size: 1.2rem;
                margin: 0.5rem;
            }
        }
    }
}