.book{
    display: flex;
    justify-content: space-around;

    & .object{
        height: 22.5rem;
        width: 18rem;
        display: grid;
        justify-content: center;
        
        border: 2px solid black;
        box-shadow: 8px 5px 5px rgb(0, 0, 0, 0.5);
        transition: 0.5s;

        @media screen and (max-width: 774px) {
            display: none;
        }
        @media screen and (min-width: 775px) {
            display: block;
        }

        &:hover{
            transform: scale(1.025);
            box-shadow: 10px 5px 5px rgb(0, 0, 0, 0.25);
        }

        & .title{
            font-size: 2rem;
            font-weight: bold;
            margin: 5rem 1rem;
        }

        & .author{
            font-size: 1rem;
            margin: 1rem;
        }
    }

    & .details{
        max-width: 50%;
        display: block;
        text-align: start;
        padding: 0;

        @media screen and (max-width: 774px) {
            max-width: 100%;
            text-align: justify;
            padding: 1rem;

            & .mobile-head{
                display: block;
            }
            & .pc-head{
                display: none;
            }
        }
        @media screen and (min-width: 775px) {
            max-width: 50%;
            text-align: start;
            padding: 0;
            
            & .mobile-head{
                display: none;
            }
            & .pc-head{
                display: block;
            }
        }
    }

    a{
        display: flex;
        border: 1px solid blueviolet;
        border-radius: 0.5rem;
        padding: 0.5rem;
        margin: 0;
        
        & i, p{
            margin: 0 0.25rem;
            padding: 0;
        }
    }
}