@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');

*{
  font-family: 'Alexandria', sans-serif;
}

html, body, #root{
  display: block;

  height: 100%;
  width: 100%;

  margin: 0;
}

a{
  text-decoration: none;
  color: blueviolet;
  transition: 0.5s;

  &:hover{
    filter: brightness(1.5);
  }
}

main{
  display: grid;
  min-height: 70%;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}